minos/tags/org.synyx.minos-2.0-alpha4/modules/core/src/main/resources/META-INF/minos/core/remoting/rest/core-remoting.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<xsd:schema xmlns="http://schemas.synyx.de/minos/core/rest" 
	targetNamespace="http://schemas.synyx.de/minos/core/rest"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	elementFormDefault="qualified">
	
	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:globalBindings>
				<jaxb:javaType name="org.joda.time.DateTime" xmlType="xsd:dateTime"
					parseMethod="org.synyx.minos.support.remoting.JaxbDateConverter.parseDate"
					printMethod="org.synyx.minos.support.remoting.JaxbDateConverter.printDate" />
			</jaxb:globalBindings>
			<jaxb:schemaBindings>
				<jaxb:package name="org.synyx.minos.core.remoting.rest.dto" />
				<jaxb:nameXmlTransform>
					<jaxb:typeName suffix="Dto" />
					<jaxb:elementName suffix="Dto" />
				</jaxb:nameXmlTransform>
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>
	
	<xsd:complexType name="identifyable">
		<xsd:attribute name="id" type="xsd:long" />
		<xsd:attribute name="href" type="xsd:anyURI" />
	</xsd:complexType>

	<xsd:complexType name="abstract-entity">
		<xsd:complexContent>
			<xsd:extension base="identifyable">
				<xsd:sequence>
					<xsd:element name="created-by" type="identifyable" minOccurs="0" />
					<xsd:element name="modified-by" type="identifyable" minOccurs="0" />
					<xsd:element name="link" minOccurs="0" maxOccurs="unbounded" type="link" />
				</xsd:sequence>
				<xsd:attribute name="created" type="xsd:dateTime" />
				<xsd:attribute name="last-modified" type="xsd:dateTime" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="link">
		<xsd:attribute name="href" type="xsd:anyURI" use="required" />
		<xsd:attribute name="rel" type="xsd:string" use="required" />
	</xsd:complexType>

</xsd:schema>