modules/im/src/main/resources/META-INF/minos/im/remoting/rest/im-rest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns="http://schemas.synyx.de/minos/im/rest"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:core="http://schemas.synyx.org/minos/core/rest"
    targetNamespace="http://schemas.synyx.org/minos/im/rest"
	elementFormDefault="qualified">
	
	<xsd:import namespace="http://schemas.synyx.org/minos/core/rest" />
	
	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.synyx.minos.im.remoting.rest.dto" />
				<jaxb:nameXmlTransform>
					<jaxb:typeName suffix="Dto" />
					<jaxb:elementName suffix="Dto" />
				</jaxb:nameXmlTransform>
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>
	
	<xsd:element name="instant-messages">
		<xsd:complexType>	
			<xsd:sequence>
				<xsd:element ref="instant-message" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="instant-message">
		<xsd:complexType>
			<xsd:complexContent>			
				<xsd:extension base="core:identifyable">
					<xsd:sequence>
						<xsd:element name="sender" type="core:identifyable" />
						<xsd:element name="receipient" type="core:identifyable" />
						<xsd:element name="text" type="xsd:string" />
					</xsd:sequence>
					<xsd:attribute name="send-date" type="xsd:dateTime" />
					<xsd:attribute name="read" type="xsd:boolean" default="false" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>