modules/core/src/main/resources/META-INF/minos/core/minos-core-wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wadl_documentation.xsl"?>
<application 
	xmlns="http://research.sun.com/wadl/2006/10"
	xmlns:xml="http://www.w3.org/XML/1998/namespace" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:core="http://schemas.synyx.org/minos/core/rest"
	xmlns:umt="http://schemas.synyx.org/minos/umt/rest"
	xsi:schemaLocation="http://research.sun.com/wadl/2006/10 https://wadl.dev.java.net/wadl20061109.xsd">
	
	<doc title="Minos User Management" />
	
	<grammars>
		<include href="remoting/rest/core-remoting.xsd" />
		<include href="../um/remoting/rest/umt-remoting.xsd" />
	</grammars>
	
	<resources base="http://localhost:8080/minos/rest/v1/umt">
		
		<resource path="users">
		
			<method name="GET">
				<doc>Returns all users.</doc>				
				<response>
					<representation mediaType="application/xml" element="umt:users" />
				</response>
			</method>		
			
			<method name="GET">
				<doc>Returns a particular user.</doc>
				<request>
					<param style="query" name="id" type="xsd:long" required="true" />
				</request>
				<response>
					<representation href="#user" />
					<fault id="userNotFound" status="404">
						<doc>User not found. Mostly because of an invalid id.</doc>
					</fault>
				</response>
			</method>
			
			<method name="POST">
				<doc>Creates a new user.</doc>
				<request>
					<representation href="#user" />
				</request>
				<response>
					<param style="header" name="Location" type="xsd:anyURI" />
				</response>
			</method>
			
			<method name="DELETE">
				<doc>Deletes a particular user.</doc>
				<request>
					<param style="query" name="id" type="xsd:long" required="true" />
				</request>
			</method>

		</resource>
			
	
	</resources>
	
	<representation id="user" mediaType="application/xml" element="umt:user">
		<param style="plain" name="location" type="xsd:anyURI" path="/umt:user/core:link">
			<link ></link>
		</param>
	</representation>
	
	<resource_type id="pageable">
		
		<method name="GET">
			<request>
				<param style="plain" name="page.number" type="xsd:int" />
				<param style="plain" name="page.size" type="xsd:int" />
			</request>
		</method>
	</resource_type>
	
</application>
